body{
    margin: 0%;
    font-family: sans-serif;
}

@font-face {
    font-family: "roman";
    src: url(../fonts/Roman\ SD.ttf);
}

h2,h3,a,th,summary{
    font-family: "roman";
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(7, 0, 26);
    border-bottom: 3px solid rgb(228, 15, 61);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0%;
    left: 0%;
    -webkit-box-shadow: 1px 4px 5px -2px #000000; 
    box-shadow: 1px 4px 5px -2px #000000;
}

#logo{
    width: 5rem;
    margin: 0.5rem 0rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0.4rem 1.5rem;
}

.login{
    margin: 0.3rem 0rem;
}

.usuario{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.password{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.login label{
    margin-right: 1rem;
    color: white;
}

.login button{
    width: 100%;
    font: inherit;
}

main{
    width: 85%;
    margin: auto;
    margin-top: 120px;
}

h2{
    background-color: rgb(7, 0, 26);
    text-align: center;
    color: white;
    padding: 1rem;
}

section.emperadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.emperadores h3{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0%;
}

section.emperadores img{
    height: 340px;
    object-fit: cover;
    width: 100%;
    display: block;
}

section.emperadores div{
    width: 16%;
    min-width: 230px;
}

section.tabla{
    overflow-x:auto;
}

table{
    border-collapse: collapse;
}

td,th{
    border: 2px solid black;
}

td img{
    object-fit: cover;
    width: 100%;
    display: block;
    height: 320px;
}

td{
    width: 16%;
}

tbody>tr>td:last-child{
    padding: 0%;
}

tbody>tr>td:nth-last-child(n+2){
    padding: 1rem;
    text-align: center;
}

th{
    color: white;
    background-color: black;
    padding: 1rem;
    font-weight: bolder;
}

tbody>tr:nth-child(2n){
    background-color: rgb(255, 112, 112);
}

tbody>tr>td:first-child{
    font-weight: bolder;
    font-family: "roman";
}

tbody>tr>td:nth-child(2){
    font-style: italic;
}

figure.augusto{
    float: right;
    top: 0%;
    right: 0%;
    background-color: rgb(245, 245, 245);
    padding: 0.3rem;
    border: 1px solid rgba(34, 34, 34, 0.884);
    margin-top: 0%;
    -webkit-box-shadow: -4px 6px 7px -1px #000000; 
    box-shadow: -4px 6px 7px -1px #000000;
}

figure.augusto figcaption{
    font-style: italic;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

section.seccionAugusto h3,summary{
    color: rgb(228, 15, 61);
}

details{
    margin: 0.5rem 0rem;
}

footer{
    margin-top: 2.5rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(7, 0, 26);
}

footer a{
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

